<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyc.server.mapper.WorkMapper">

    <!-- 查询与 talentIds 相关的 workcards -->
    <select id="getWorkcardsByTalentIds" resultType="com.wyc.pojo.Entity.WorkCard">
        SELECT *
        FROM work
        JOIN work_talent ON work.work_id = work_talent.work_id
        WHERE work_talent.talent_id IN
        <foreach item="item" collection="talentIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

<!--    <insert id="saveWork" parameterType="com.wyc.pojo.Entity.Work">-->
<!--        INSERT INTO work-->
<!--        (-->
<!--        <trim prefix="" suffix="" suffixOverrides=",">-->
<!--            <if test="title != null">title,</if>-->
<!--            <if test="introduction != null">introduction,</if>-->
<!--            <if test="cover != null">cover,</if>-->
<!--            <if test="content != null">content,</if>-->
<!--            <if test="poster != null">poster,</if>-->
<!--            <if test="accepter != null">accepter,</if>-->
<!--            <if test="postDate != null">post_date,</if>-->
<!--            <if test="acceptDate != null">accept_date,</if>-->
<!--            <if test="state != null">state,</if>-->
<!--            <if test="partId != null">part_id,</if>-->
<!--            <if test="needId != null">need_id</if>-->
<!--        </trim>-->
<!--        )-->
<!--        VALUES-->
<!--        (-->
<!--        <trim prefix="" suffix="" suffixOverrides=",">-->
<!--            <if test="title != null">#{title},</if>-->
<!--            <if test="introduction != null">#{introduction},</if>-->
<!--            <if test="cover != null">#{cover},</if>-->
<!--            <if test="content != null">#{content},</if>-->
<!--            <if test="poster != null">#{poster},</if>-->
<!--            <if test="accepter != null">#{accepter},</if>-->
<!--            <if test="postDate != null">#{postDate},</if>-->
<!--            <if test="acceptDate != null">#{acceptDate},</if>-->
<!--            <if test="state != null">#{state},</if>-->
<!--            <if test="partId != null">#{partId},</if>-->
<!--            <if test="needId != null">#{needId}</if>-->
<!--        </trim>-->
<!--        )-->
<!--    </insert>-->


    <!--    <select id="getOnesWorkcardsByTalentIds" resultType="com.wyc.pojo.Entity.WorkCard">-->
<!--        SELECT workCard.*-->
<!--        FROM workCard-->
<!--        JOIN work_talent ON workCard.work_id = work_talent.work_id-->
<!--        WHERE 1=1-->
<!--        <if test="talentIds != null and talentIds.size() > 0">-->
<!--           AND work_talent.talent_id IN-->
<!--            <foreach item="item" collection="talentIds" open="(" separator="," close=")">-->
<!--                #{item}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        <if test="username != null">-->
<!--            AND workCard.poster = #{username}-->
<!--        </if>-->
<!--    </select>-->
    <select id="getOnesWorkcardsByTalentIds" resultType="com.wyc.pojo.Entity.WorkCard">
        SELECT work.*, work_talent.talent_id AS talentId
        FROM work
        JOIN work_talent ON work.work_id = work_talent.work_id
        WHERE 1=1
        <if test="talentIds != null and talentIds.size() > 0">
            AND work_talent.talent_id IN
            <foreach item="item" collection="talentIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="username != null">
            AND work.poster = #{username}
        </if>
    </select>

<!--    <select id="updateWork" resultType="com.wyc.pojo.DTO.UpdateWorkDTO">-->
<!--        -->
<!--    </select>-->

</mapper>
